@mixin dimennsionAndPosition($position, $width, $height) {
    position: $position;
    width: $width;
    height: $height;
}

@mixin slider {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    height: 100%;
    img {
        border-radius: 6px;
    }
}
